html,
body {
    height: 100%;
}

div.background {
    height: 100%;
    background: cadetBlue;

    z-index: 0;
    display: grid;
    justify-items: center;
    align-items: center;
}

div.centered {
    grid-column: 1;
    grid-row: 1;
}

div.hook-bend {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 2.5vw;
    border-color: darkSlateGrey transparent darkSlateGrey darkSlateGrey;

    transform: translate(0, -10vw) rotate(0.125turn);

    z-index: 1;
}

div.hook-barb {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5vw 2.5vw 0 2.5vw;
    border-color: darkSlateGrey transparent transparent transparent;

    transform: translate(6.25vw, -7.5vw);

    z-index: 2;
}

div.hook-shank {
    width: 0;
    height: 7.5vw;
    border-style: solid;
    border-width: 1.25vw;
    border-color: darkSlateGrey;

    transform: translate(0, 2.5vw);

    z-index: 3;
}

div.hook-shank-to-barb {
    width: 0;
    height: 0;
    border-radius: 50% 50% 0 0;
    border-style: solid;
    border-width: 1.25vw;
    border-color: darkSlateGrey;

    transform: translate(0, -3.75vw);

    z-index: 4;
}

div.hook-eye {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 2vw;
    border-color: darkSlateGrey;

    transform: translate(0, 9.5vw);

    z-index: 5;
}