html,
body {
    height: 100%;
}

div.background {
    height: 100%;
    background: black;

    z-index: 0;
    display: grid;
    justify-items: center;
    align-items: center;
}

div.ring-foreground {
    width: 60vw;
    height: 15vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 10vw;
    border-color: darkslategray;

    /*
        x offset = 2 * border-width / ( 2 * border-width + width
    */
    clip-path: polygon(12.5% 50%, 87.5% 50%, 87.5% 100%, 12.5% 100%);

    /*
        y translation = (-1 * height) / 2
    */
    transform: translate(0, -7.5vw);

    z-index: 2;
    grid-column: 1;
    grid-row: 1;
}

div.sun {
    width: 40vw;
    height: 40vw;
    background: Goldenrod;
    border-radius: 50%;

    z-index: 1;
    grid-column: 1;
    grid-row: 1;
}